@import "tailwindcss";

@theme {
  --font-archivo: "Archivo Narrow", sans-serif;
  --font-anton: "Anton", sans-serif;
  --font-livvic: "Livvic", sans-serif;
}

@layer base {
  body {
    @apply font-livvic text-black bg-white;
  }
}
